name: getMissionConfigValue
desc: |-
  Returns value of the given scenario attribute from the 1st tier. Since only config properties have values, the attribute should be config property.
  If it is not found or config class is given, the return is [[nil]]. If the attribute defined in multiple places, the command checks them in the following order:
  # [[Description.ext]] entry
  # [[Eden Editor: Scenario Attributes|Eden Editor]] scenario attribute

  So if an attribute exists in both places, the [[Description.ext]] value is used.
  Previously, scenario attributes were extracted from Description.ext using [[missionConfigFile]].
  That still works, but it ignores attributes set directly in the editor and should not be used anymore.

  {{Feature|important|This command cannot force return type, it will return the value of the type given in config. Use [[isEqualType]] to additionally reaffirm the correct type if necessary to account for human error.}}
groups:
- Config
- Mission Information
syntax:
- call: !Unary attribute
  ret:
    type: !OneOf
    - type: Number
      desc: null
      since: null
    - type: String
      desc: null
      since: null
    - type: Boolean
      desc: null
      since: null
    - type: ArrayUnknown
      desc: null
      since: null
  params:
  - name: attribute
    desc: attribute name
    type: String
- call: !Unary
  - attribute
  - defaultValue
  ret:
    type: !OneOf
    - type: Number
      desc: null
      since: null
    - type: String
      desc: null
      since: null
    - type: Boolean
      desc: null
      since: null
    - type: ArrayUnknown
      desc: null
      since: null
  params:
  - name: attribute
    desc: attribute name
    type: String
  - name: defaultValue
    desc: value used when the attribute is undefined
    type: Anything
argument_loc: Unspecified
effect_loc: Unspecified
since:
  arma3: '1.56'
examples:
- "<sqf>\nprivate _respawnDelay = getMissionConfigValue [\"respawnDelay\", 0];\t\t\t// returns the real, defined respawn delay value\nprivate _respawnDelay = getNumber (missionConfigFile >> \"respawnDelay\");\t// old approach, ignoring the Eden Editor-set value\n</sqf>"
see_also:
- getMissionConfig
- missionConfigFile
- BIS_fnc_getParamValue
- Mission_Parameters
