name: Run

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout Dist
        uses: actions/checkout@v2
        with:
          path: dist
          ref: dist
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: run
      - name: Parse Commands
        run: cargo run --release --bin arma3-wiki-parse
      - name: Update GitHub
        run: cargo run --release --bin arma3-wiki-github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
